
<% include partials/hr %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css" />
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
  <meta charset="utf-8">


<link href="https://cdn.jotfor.ms/static/formCss.css?3.3.5044" rel="stylesheet" type="text/css" />
<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/nova.css?3.3.5044" />
<link type="text/css" media="print" rel="stylesheet" href="https://cdn.jotfor.ms/css/printForm.css?3.3.5044" />
<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/themes/CSS/566a91c2977cdfcd478b4567.css?"/>
<style type="text/css">
    .form-label-left{
        width:150px;
    }
    .form-line{
        padding-top:12px;
        padding-bottom:12px;
    }
    .form-label-right{
        width:150px;
    }
    body, html{
        margin:0;
        padding:0;
        background:#fff;
    }

    .form-all{
        margin:0px auto;
        padding-top:0px;
        width:690px;
        color:#555 !important;
        font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;
        font-size:14px;
    }
</style>

<style type="text/css" id="form-designer-style">

.form-label.form-label-auto { display: block; float: none; text-align: left; width: inherit; } /*PREFERENCES STYLE*/
    .form-all {
      font-family: Lucida Grande, sans-serif;
    }
    .form-all .qq-upload-button,
    .form-all .form-submit-button,
    .form-all .form-submit-reset,
    .form-all .form-submit-print {
      font-family: Lucida Grande, sans-serif;
    }
    .form-all .form-pagebreak-back-container,
    .form-all .form-pagebreak-next-container {
      font-family: Lucida Grande, sans-serif;
    }
    .form-header-group {
      font-family: Lucida Grande, sans-serif;
    }
    .form-label {
      font-family: Lucida Grande, sans-serif;
    }

    .form-label.form-label-auto {

    display: block;
    float: none;
    text-align: left;
    width: 100%;

    }

    .form-line {
      margin-top: 12px;
      margin-bottom: 12px;
    }

    .form-all {
      width: 690px;
    }

    .form-label-left,
    .form-label-right,
    .form-label-left.form-label-auto,
    .form-label-right.form-label-auto {
      width: 150px;
    }

    .form-all {
      font-size: 14px
    }
    .form-all .qq-upload-button,
    .form-all .qq-upload-button,
    .form-all .form-submit-button,
    .form-all .form-submit-reset,
    .form-all .form-submit-print {
      font-size: 14px
    }
    .form-all .form-pagebreak-back-container,
    .form-all .form-pagebreak-next-container {
      font-size: 14px
    }

    .supernova .form-all, .form-all {
      background-color: #fff;
      border: 1px solid transparent;
    }

    .form-all {
      color: #555;
    }
    .form-header-group .form-header {
      color: #555;
    }
    .form-header-group .form-subHeader {
      color: #555;
    }
    .form-label-top,
    .form-label-left,
    .form-label-right,
    .form-html,
    .form-checkbox-item label,
    .form-radio-item label {
      color: #555;
    }
    .form-sub-label {
      color: #6f6f6f;
    }

    .supernova {
      background-color: white;
    }
    .supernova body {
      background: transparent;
    }

    .form-textbox,
    .form-textarea,
    .form-radio-other-input,
    .form-checkbox-other-input,
    .form-captcha input,
    .form-spinner input {
      background-color: #f9f9f9;
    }

    .supernova {
      background-image: none;
    }
    #stage {
      background-image: none;
    }

    .form-all {
      background-image: none;
    }

  .ie-8 .form-all:before { display: none; }
  .ie-8 {
    margin-top: auto;
    margin-top: initial;
  }


</style>

<body>

<form class="jotform-form" action="/req" method="post">




  <input type="hidden" name="formID" value="80651710383554" />
  <div class="form-all">
    <ul class="form-section page-section">
      <li id="cid_1" class="form-input-wide" data-type="control_head">
        <div class="form-header-group ">
          <div class="header-text httal htvam">
            <h2 id="header_1" class="form-header" data-component="header">
              Leave Request
            </h2>
          </div>
        </div>
      </li>


      <li class="form-line" data-type="control_phone" id="id_4">
        <label class="form-label form-label-top form-label-auto" id="label_4" for="input_4_area">  </label>
        <div id="cid_4" class="form-input-wide">
          <div data-wrapper-react="true">

  <!-- <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name" name="first" required>
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name" name="Last" required>
    </div>
  </div> -->


          <!-- <li class="form-line" data-type="control_phone" id="id_4">
        <label class="form-label form-label-top form-label-auto" id="label_4" for="input_4_area">  </label>
        <div id="cid_4" class="form-input-wide">
          <div data-wrapper-react="true"> -->

  <!-- <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Phone Number" name="tel" required>
    </div>
    </div> -->


          <li class="form-line" data-type="control_phone" id="id_4">
        <label class="form-label form-label-top form-label-auto" id="label_4" for="input_4_area">  </label>
        <div id="cid_4" class="form-input-wide">
          <div data-wrapper-react="true">

    <div class="row">
    <div class="col">


  <div class="ui form">
    <div class="two fields">
      <div class="field">
        <div class="ui calendar" id="rangestart">
          <div class="ui input left icon">
            <i class="calendar icon"></i>
            <input type="text" placeholder="Start Date" name="startDate" required id="stdt">
          </div>
        </div>
      </div>
      <div class="field">
        <div class="ui calendar" id="rangeend">
          <div class="ui input left icon">
            <i class="calendar icon"></i>
            <input type="text" placeholder="End Date" name="endDate" required id="endDate">
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>

 <li class="form-line" data-type="control_phone" id="id_4">
        <label class="form-label form-label-top form-label-auto" id="label_4" for="input_4_area">  </label>
        <div id="cid_4" class="form-input-wide">
          <div data-wrapper-react="true">
    <div class="row">
    <div class="col">


      <div class="ui action input">
        <select class="ui compact selection dropdown" name="type" required>
          <option value="sickness">sickness</option>
          <option selected="" value="maternity">maternity</option>
          <option value="burial">burial</option>
        </select>
      </div>

           <li class="form-line" data-type="control_phone" id="id_4">
        <label class="form-label form-label-top form-label-auto" id="label_4" for="input_4_area"></label>
        <div id="cid_4" class="form-input-wide">
          <div data-wrapper-react="true">
    <div class="row">
    <div class="col">

<div class="ui form">
  <div class="field">
    <label>Comment Box</label>
    <textarea name="Comment"></textarea>
  </div>



      <li class="form-line" data-type="control_button" id="id_2">
        <div id="cid_2" class="form-input-wide">
          <div style="text-align:center;" class="form-buttons-wrapper">
            <button type="submit" class="btn btn-success btn-block btn-outline">Submit</button>
          </div>
        </div>
      </li>

    </ul>
  </div>



</form></body>
<script type="text/javascript">

$('#rangestart').calendar({
  type: 'date',
  endCalendar: $('#rangeend')
});
$('#rangeend').calendar({
  type: 'date',
  startCalendar: $('#rangestart')
});

</script>
<script type="text/javascript">
  $('.ui.dropdown')
  .dropdown();
  $('.leaverequest').addClass('active');
</script>
</html>
